.footer {
  display: flex;
  width: 100%;
  max-width: 375px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 1px solid #ccc;
  height: 50px;
  font-size: 14px;
  line-height: 1;
  margin: 0 auto;
}
