/*--------- HEADER -------------*/
.header {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid var(--grey);
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0px 20px;
  background: var(--background);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-out 0s, color 0.3s ease-out 0s,
    background 0.3s ease-out 0s;
}

.header.fix {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 20px;
}

/*--------- HEADER / LOGO -------------*/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}

.logo__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 4px solid var(--color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.logo__icon img {
  width: 100%;
}

.logo__title {
  font-display: flex;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  pointer-events: none;
}

.logo__title span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
}

/*--------- HEADER / NAVIGATION -------------*/

.navigation {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  right: 0px;
  top: 0px;
  gap: 30px;
  width: 100%;
  z-index: 5;
  max-width: 414px;
  height: 100vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-left: 1px solid var(--white);
  padding: 80px 40px 44px 40px;
  background: var(--background);
  transform: translate(102%, 0%);
  transition: 0.6s;
}

.navigation.open {
  transform: translate(0%, 0%);
}

/*--------- HEADER / NAVIGATION / MENU -------------*/

.navigation__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.navigation__menu a {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  transition: 0.3s;
}

.navigation__menu a:hover {
  color: var(--color);
}

/*--------- SOCIALS -------------*/

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.socials__item {
  width: 40px;
  height: 40px;
  border: 1px solid var(--grey);
  color: var(--black);
  margin-top: auto;
  transition: 0.3s;
}

.socials__item:hover {
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--white);
}

.socials__item a {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*--------- BURGER -------------*/

.burger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 6;
  padding-right: 25px;
}

.burger span {
  display: block;
  position: relative;
  line-height: 1;
}

.burger:before,
.burger span:before,
.burger:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  right: 0px;
  background: var(--black);
  transition: 0.6s;
}

.burger span:before {
  top: 50%;
  left: 100%;
  right: auto;
  margin-left: 5px;
  margin-top: -1px;
}

.burger:before {
  transform: translate(0px, -6px) rotate(0deg);
}

.burger:after {
  transform: translate(0px, 6px) rotate(0deg);
}

.burger span:before {
  transform: translate(0px, 0px);
  opacity: 1;
}

.burger.open:before {
  transform: translate(0px, 0px) rotate(45deg);
}

.burger.open:after {
  transform: translate(0px, 0px) rotate(-45deg);
}

.burger.open span:before {
  transform: translate(20px, 0px);
  opacity: 0;
}
