/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  min-width: 200px;
  border-radius: 8px;
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(11, 54, 71) 0%, rgb(13, 119, 161) 100%);
  color: #fff;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.button2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 40px;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  color: rgb(19, 14, 88);
  border: 1px solid #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}

.button2:hover {
  background: rgb(19, 14, 88);
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.button3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.button4 {
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.7);
}

/* Feel free to play around with other properties, as well. */
